# [Data Train] Competição ML #2 - SECITEC 2020 IFG
## CRISP-DM: Modeling
**Autor:** Wanderson Marques - wdsmarques@gmail.com

Esse Jupyter Notebook contém a escolha do **modelo e parâmetros** para conjunto de dados. A modelagem refere-se à quarta fase da metodologia CRISP-DM. 

<img src="imgs/modeling.jpg" />

### Carregar bibliotecas

In [1]:
import pandas as pd
import joblib
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

### Carregar dataset

Nesse momento, o dataset já está pré-processado.

In [2]:
dataset = pd.read_csv('datasets/train-preprocessado.csv')
dataset.head()

,idademae,qtdsemanas,peso,apgar1,apgar5,obito,estadocivilmae_casada,estadocivilmae_separada,estadocivilmae_uniao,estadocivilmae_viuva,catprenatal_de1a3,catprenatal_de4a6,catprenatal_nenhuma,tipoparto_vaginal,malformacao_sim,sexo_f
0,28.0,38.0,3970.0,9.0,10.0,0,1,0,0,0,0,0,0,0,0,0
1,20.0,39.0,3420.0,9.0,10.0,0,0,0,0,0,0,0,0,0,0,0
2,31.0,39.0,2740.0,9.0,10.0,0,0,0,0,0,1,0,0,0,0,0
3,18.0,23.0,535.0,1.0,2.0,1,1,0,0,0,0,1,0,1,0,1
4,22.0,38.0,3530.0,8.0,9.0,0,0,0,1,0,0,0,0,1,0,0

In [3]:
X = dataset.drop(['obito'], axis=1)
y = dataset['obito']

### Treinar Random Forest

In [4]:
model = RandomForestClassifier()
model.fit(X, y)

RandomForestClassifier()

### Salvar modelo preditivo treinado

In [8]:
joblib.dump(model, filename='models/model.pkl')

['models/model.pkl']