# [Data Train] Competição ML #2 - SECITEC 2020 IFG
## CRISP-DM: Deployment
**Autor:** Wanderson Marques - wdsmarques@gmail.com

Esse Jupyter Notebook contém a predição enviada ao **Kaggle**. Considerando a metodologia CRISP-DM, essa atividade refere-se à última fase, o deployment. 

<img src="imgs/deployment.jpg" />

### Carregar bibliotecas

In [1]:
import pandas as pd
import joblib

### Carregar dataset de teste

In [2]:
dataset = pd.read_csv('datasets/teste.csv')
identificador = dataset['id']
dataset.drop('id', axis=1, inplace=True)
dataset.head()

,idademae,estadocivilmae,catprenatal,qtdsemanas,tipoparto,peso,malformacao,sexo,apgar1,apgar5
0,24.0,casada,7mais,40.0,cesareo,3120.0,nao,f,9.0,10.0
1,25.0,uniao,7mais,38.0,cesareo,2805.0,nao,f,9.0,10.0
2,16.0,solteira,de4a6,39.0,cesareo,3600.0,nao,f,9.0,10.0
3,22.0,uniao,de1a3,26.0,vaginal,635.0,nao,f,7.0,8.0
4,29.0,casada,de1a3,26.0,cesareo,442.0,nao,m,3.0,8.0

### Carregar modelo preditivo

Nesse momento o modelo preditivo já foi treinado, com os dados de treino.

In [3]:
model = joblib.load('models/model.pkl')

### Preparar os dados de validação

In [4]:
# Imputar a moda em todas as variáveis
for col in dataset.columns:
    dataset.loc[dataset[col].isnull(), col] = (dataset.mode())[col][0]

In [5]:
dataset = pd.get_dummies(dataset)
# Evitar dummy trap excluindo valores de referência
dataset.drop(['estadocivilmae_solteira', 'catprenatal_7mais', 'tipoparto_cesareo', 'malformacao_nao', 'sexo_m'], axis=1, inplace=True)

### Realizar predição para conjunto de teste

In [6]:
y_pred = model.predict(dataset)
y_proba = model.predict_proba(dataset)

### Salvar resultado da predição

In [16]:
resultado = pd.concat([identificador, pd.DataFrame(y_proba[:, 1], columns=['obito'])], axis=1)
resultado.head()

      id  obito
0   5493   0.00
1  12311   0.02
2  15520   0.03
3  15095   0.99
4   2275   1.00

In [17]:
resultado.to_csv('datasets/submission.csv', index=False)